/* Home.css */

.home-container {
    background: #000;
    color: #fff;
    padding: 2rem 0;
    font-family: 'Shuriken';
}

.content-container {
    padding: 1rem;
}

.current-auction-card,
.past-auction-card {
    background-color: transparent;
    border: 2px solid green;
    border-radius: 0.5rem;
}

.current-auction-card .card-img-top,
.past-auction-card .card-img-top {
    padding: 0.5rem;
    background-color: transparent;
}

.current-auction-container .live-status {
    color: green;
}

.auction-description {
    margin-left: auto;
    margin-right: auto;
}

.past-auction-card {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 1rem;
}

.bid-status-container {
    display: flex;
    align-items: baseline;
    /* Align items on their baselines */
    justify-content: space-between;
}

.current-auction-card .card-text {
    margin-bottom: 0;
    /* Remove bottom margin from card text to align properly */
}

.bid-status-container .btn {
    border-radius: 1rem;
    border-color: #5bc488;
    color: #5bc488;
    background-color: transparent;
}

/* Responsive behavior */
@media (max-width: 768px) {

    .current-auction-container,
    .past-auction-container {
        margin-bottom: 1rem;
    }
}