.custom-navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.custom-navbar .navbar-brand {
    font-weight: 700; /* Slightly bolder for better visibility */
    color: #333;
    font-size: 1.75rem; /* Adjust size to your preference */
}

.custom-navbar .nav-link,
.custom-navbar .navbar-toggler {
    color: #555;
}

.custom-navbar .navbar-toggler {
    border: none;
    padding: .25rem .75rem; /* Add some padding for better touch target */
}

.custom-navbar .nav-item {
    padding: 0 15px; /* Increase spacing for a more airy feel */
}

.custom-navbar .nav-link {
    font-size: 1.1rem; /* Match font size with secondary navbar for consistency */
    font-weight: 500; /* Adjust weight for legibility */
    padding: 0.5rem 2rem; /* Increase padding for more vertical space */
}

/* Styles for hover effects */
.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
    color: #000; /* Slightly darker on hover for feedback */
    text-decoration: none; /* No underline on hover */
}

@media (max-width: 768px) {
    .custom-navbar .nav-link {
        padding-left: 5px;
    }
}
  