
.Navbar {
  background-color: #000;
  /* Assuming a black background from the image */
  font-size: 1rem;
  font-family: 'Shuriken';
  color: #fff;
  padding: 0px;
}

.Navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.Navbar .navbar-brand {
  font-size: 1.6rem; /* Larger size for the brand */
  color: #e563cc;
  font-weight: bold;
}

/* Adjust the nav-link properties to align text to center of the brand */
.Navbar .nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px; /* Adjust spacing around links */
  padding: 5px 0; /* Padding to adjust vertical alignment */
  display: flex; /* Use flex to align text properly */
  align-items: center; /* Align text to the center vertically */
  font-size: 1rem; /* Adjust to match the design */
}

/* Center the nav vertically */
.Navbar .navbar-nav {
  align-items: center;
}

/* Icons */
.icon-twitter,
.icon-etherscan {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 20px;
}

.icons-container {
  display: flex;
  align-items: center;
}
